## LAB - Customer Analysis Round 2 ###########################################################################################

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_marketing = pd.read_csv('/Users/sebastiangunther/Documents/GitHub/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv')

In [3]:
df_marketing.head(2)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize

## 2.1 Show the dataframe shape. ####

In [5]:
df_marketing.shape

(9134, 24)

## 2.2 Standardize header names. ####

In [14]:
df_marketing.columns = list(map(lambda x: x.lower(), df_marketing.columns))
df_marketing.head(2)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize

In [7]:
# columns headers
df_marketing.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [9]:
# lower and replace
df_marketing.columns=[name.lower().replace(' ', '_') for name in df_marketing.columns]  
df_marketing.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

## 2.3 Which columns are numerical? ####

In [13]:
df_marketing.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
dtype: object

In [15]:
# geht natürlich auch ohne liste
list(df_marketing._get_numeric_data().columns)

['customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'total_claim_amount']

## 2.4 Which columns are categorical? ####

In [19]:
list(df_marketing.select_dtypes('object').columns)

['customer',
 'state',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'location_code',
 'marital_status',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'vehicle_class',
 'vehicle_size']

## 2.5 Check and deal with NaN values. ####

In [21]:
# shows the percentage of null values in a column
round(df_marketing.isna().sum()/len(df_marketing),4)*100

customer                         0.0
state                            0.0
customer_lifetime_value          0.0
response                         0.0
coverage                         0.0
education                        0.0
effective_to_date                0.0
employmentstatus                 0.0
gender                           0.0
income                           0.0
location_code                    0.0
marital_status                   0.0
monthly_premium_auto             0.0
months_since_last_claim          0.0
months_since_policy_inception    0.0
number_of_open_complaints        0.0
number_of_policies               0.0
policy_type                      0.0
policy                           0.0
renew_offer_type                 0.0
sales_channel                    0.0
total_claim_amount               0.0
vehicle_class                    0.0
vehicle_size                     0.0
dtype: float64

In [ ]:
# there are no NaN values in this file. 
# But if there would be some check .filna('string') or .filna(mean) !!

#### auch denkbare operationen:

In [ ]:
## drop rows with nan values
# data=data.dropna()

In [ ]:
## drop a column  (or multiple columns)
# data=data.drop(columns=['Vehicle Size'])

## 2.6 Datetime format 
### - Extract the months from the dataset and store in a separate column. 
### - Then filter the data to show only the information for the first quarter , 
### - ie Jan Feb and March ####

In [24]:
df_marketing['effective_to_date'].dtype

dtype('<M8[ns]')

In [25]:
df_marketing['effective_to_date'] = pd.to_datetime(df_marketing['effective_to_date'], errors='coerce')

In [26]:
df_marketing['effective_to_date'].dtype
df_marketing.head(5)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

### first quarter:

In [ ]:
lst_monate = []
df_marketing.col_name 
df_marketing['effective_to_date]

In [ ]:
for i in df_marketing['effective_to_date']:
        x = (df_marketing['effective_to_date'][i].month
        lst_monate.append(x)

In [ ]:
for i in df_marketing['effective_to_date']:
        x = (df_marketing['effective_to_date'][i].month
        lst_monate.append(x)

In [34]:
first_quarter = filter(lambda x: x>=1 and x<4, list(df_marketing['effective_to_date'][0].month)

SyntaxError: unexpected EOF while parsing (<ipython-input-34-97627b062a52>, line 1)

In [ ]:
df_marketing['effective_to_date'][0].month

In [ ]:
# dealing with date-time-format in general: 

file['date_time'] = pd.to_datetime(file['date_time'], errors='coerce')
file['date_time'][0].day
file['date_time'][0].month
file['date_time'][0].year
file['date_time'][0].isoweekday()  # Returns 1 for Monday and so on
file['date_time'][0].time()
file['date_time'][0].strftime(format='%d-%M-%Y')
file['date_time'][0].strftime(format="%A %d. %B %Y")

In [ ]:
filtered[['gender', 'ic2', 'ic3']][0:10]

## 2.7 BONUS Check and deal with NaN values. ####

In [ ]:
### this is a copy paste - Check it!!! - 
# Macht lower and replace + droppt Columns + dropt Zeilen mit nas # und datumoperation

def clean_data(df):
    df.columns=[e.lower().replace(' ', '_') for e in df.columns]
    df=df.drop(columns=['unnamed:_0', 'vehicle_type'])
    df=df.dropna()
    df['effective_to_date']=pd.to_datetime(df['effective_to_date'], errors='coerce')
    return df

clean_data(data) # call the function